body{
    background: antiquewhite;
    text-align: center;
}

img{
    margin: 10px auto;
    border-radius: 10px;
}

.links a{
    margin: 0 10px;
    color: firebrick;
}

.links a:visited{
    color: firebrick;
}